{% extends 'base.html' %} {% block content %}

<div class="cover-container">
  <section><img src="/static/assets/cover1.jpg" alt="" /></section>
  <section>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident velit
      distinctio cum porro error facilis sed, corporis vero voluptatibus quasi
      soluta reprehenderit animi a ducimus minus adipisci natus veritatis modi
      tempora dolor ipsa libero! Quis nostrum esse maxime velit tenetur
    </p>
    <button class="btn btn-s">Get Involved</button>
  </section>
</div>
<div class="cover-container">
  <section>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident velit
      distinctio cum porro error facilis sed, corporis vero voluptatibus quasi
      soluta reprehenderit animi a ducimus minus adipisci natus veritatis modi
      tempora dolor ipsa libero! Quis nostrum esse maxime velit tenetur
    </p>
    <button class="btn btn-s">Get Involved</button>
  </section>
  <section><img src="/static/assets/cover2.jpg" alt="" /></section>
</div>

{% endblock %}
